<br>
<div ng-controller="StudentsCtrl">
  <form class="form-inline" role="form">
    <div class="form-group" ng-show="students.length">
      <input ng-model='query' type="text" class="form-control"
      placeholder="search students">
    </div>
  </form>
  <h4><a ui-sref="welcome">Home</h4>

  <div class="col-md-6">
    <center>
      <h1 ng-show='students.length && filtered.length'>Students</h1>
      <h1 ng-show="students.length && !filtered.length">No students with that name</h1>

    <ul>
      <li style="list-style-type: none;" ng-repeat="item in filtered = (students | filter:query)">
        <div class="box">
          <h4>{{ item.name }}</h4>
        </div>
      </li>
    </ul>
  </center>
  </div>

  <div class="col-md-6">
  <br>
  <h3>Add Student</h3>
    <form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="StudentsFactory.studentName" class="form-control" placeholder="add student name here">
      </div>
      <hr>
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-lg">Submit</button>
      </div>
    </form>
  </div>
</div>
<br>
<div class="col-md-12">
</div>
<div ui-view></div>
